@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: "Unbounded";
}

:root {
    --nav-height: 4rem; /* Replace with your actual navbar height */
  }
  
  html {
    scroll-padding-top: var(--nav-height);
  }
  #services {
    scroll-margin-top: var(--nav-height);
    /* same as padding-top offset for direct anchor link */
  }

/* Logo Rainbow Animation */
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  